.orange-bg{
    background-color: #fceae8;
}
.slide-padding{
    padding: 20px 40px;
}
.price{
    color:#FF13CF;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color:#fff;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 80px;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 5px;
}
.cat-1{
    background-color: orange;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.catagories h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightblue;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#Subscribe{
    background-color: #fceae8;
    height: 300px;
}
footer{
    text-align: center;
    color: yellow;
}